@page "/listaProductos"
@inject HttpClient _http
@inject NavigationManager _navigationManager

@if (estaCargando)
{
    <p>Cargando la lista de productos...</p>
} else
{
    if (productos.Count == 0)
    {
        <p>No se encontraron productos.</p>
    } else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre del producto</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Producto producto in productos)
                {
                    <tr>
                        <td>@producto.title</td>
                        <td>
                            <img src="@producto.image" alt="Imagen del producto: @producto.title" width="100" height="100" />
                        </td>
                        <td>
                            <button class="btn btn-primary" @onclick="() => detallesProducto(producto.id)">Detalles</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private List<Producto> productos = new();
    private bool estaCargando = true;

    protected override async Task OnInitializedAsync()
    {
        estaCargando = true;
        productos = await _http.GetFromJsonAsync<List<Producto>>("products");
        estaCargando = false;
    }

    private void detallesProducto(int Id)
    {
        _navigationManager.NavigateTo($"/detalleProducto/{Id}");
    }
}
